#frame {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#main {
    background-color: white;
    text-align: center;
    padding: 1em;
}

body {
    background-color: #dad9d4;
    font-family: Verdana, sans-serif;
}

#banner, #w3c {
    background-image: url('https://cs293.watzekdi.net/images/kb/banner-background.png');
    background-repeat: repeat-x;
    color: white;
    padding: 0.5em;
}

form {
    width: 24em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border-collapse: collapse;
    width: 50%;
}

table, th, td {
    border: 1px solid #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}